* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}
.main {
    background-image: url(../image/Rectangle.png);
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.text {
    font-weight: 700;
    padding-top: 30px;
}
.header-title {
    color: #343434;
    font-size: 80px;
    line-height: 112%;
    max-width: 600px;
}
.asterisk {
    color: #DE470D;
}
 
.boonmarket {
    color: #747474;
    font-size: 45px;
    line-height: 83%;
    max-width: 172px;
    margin-top: 30px;
}
.frame1 a {
    color:#343434;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
}
.header-nav {
    list-style-type: none;
}
.header-nav_link {
    color:#2B2B2B;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}
/* .button { 
    background-color: #FABAA0;
    border-radius: 8px;
    padding: 17px 68px;
    text-transform: uppercase;
    display: inline-block;
}*/


:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}
::before,
::after {
    position: absolute;
    content: "";
}
.button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 273px;
    
}
.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #FABAA0;
    border: 1px solid #FABAA0;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
}
.btn a {         
      position: relative;
      color:#343434;
      display: inline-block;
      font-size: 14px;
      top: 0; left: 0;
      width: 100%;
      transition: 0.3s;
      line-height: 24px;
      text-transform: uppercase;
      text-decoration: none;
}
.btn-2::before {
    background-color: #343434;
    border-radius: 8px;
    transition: 0.3s ease-out;
}
.btn-2 a {
    color: #343434;
    border: 1px solid #FABAA0;
    border-radius: 8px;
    transition: 0.2s;
}  
.btn-2 a:hover {
    color: #FABAA0;
    transition: 0.2s 0.1s;
}
  
.slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
}
.slide-down:hover::before {
    height: 100%;
}



/* .button a { 
    color:#343434;
    font-size: 14px;
    line-height: 24px;
    text-decoration: none;
}*/
.footer {
    display: flex;
    justify-content: baseline;
}
.info,
.about {
    flex: 0 0 50%;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.info {
    background-color: #708D92;
    color: #FFFFFF;
    padding: 87.81px 110px 95.19px 240px;
}
.logo {
    width: 59px;
    height: 46px;
}
.boon {
    font-size: 21px;
    line-height: 22px;
}
.something {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.copyright {
    font-weight: 300;
    font-size: 11px;
    line-height: 23px;
    text-transform: uppercase;
}
.about {
    background-color: #F7F5F2;
    padding: 0.19px 270px 0.19px;
}
.item h2 {
    color:#343434;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 7px;
}
.item a {
    color:#747474;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none;
    margin-bottom: 14px;
}