body {
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
.header {
    background-image: url(../image/Rectangle.png);
    padding: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.header-head {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.header-head_nav {
    font-weight: 700;
}
.header-title {
    color: #343434;
    font-size: 80px;
    line-height: 112%;
    max-width: 600px;
}
.header-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.asterisk {
    color: #DE470D;
}
 
.header-head_title {
    color: #747474;
    font-size: 45px;
    line-height: 83%;
    max-width: 172px;
    margin-top: 30px;
}
.header-head_nav a {
    color:#343434;
    font-size: 16px;
    line-height: 24px;
}
.header-nav_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
.header-nav_link {
    color:#2B2B2B;
    font-weight: 700;
    font-size: 14px;
    line-height: 171%;
    padding: 13px 22px;
    margin-left: 5px;
}
.header-title {
    color: #343434;;
    font-weight: 700;
    font-size: 80px;
    line-height: 112%;
    letter-spacing: 1px;
}
.btn { 
    background-color: #FABAA0;
    border: none;
    border-radius: 8px;
    display: inline-block;
}
.btn a {
    text-transform: uppercase;
    color: #343434;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    padding: 17px 68px;
}

/*
:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}
::before,
::after {
    position: absolute;
    content: "";
}
.button-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 273px;
    
}
.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: #FABAA0;
    border: 1px solid #FABAA0;
    border-radius: 8px;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
}
.btn a {         
    position: relative;
    color:#343434;
    display: inline-block;
    font-size: 14px;
    top: 0; left: 0;
    width: 100%;
    transition: 0.3s;
    line-height: 24px;
    text-transform: uppercase;
}
.btn-2::before {
    background-color: #343434;
    border-radius: 8px;
    transition: 0.3s ease-out;
}
.btn-2 a {
    color: #343434;
    border: 1px solid #FABAA0;
    border-radius: 8px;
    transition: 0.2s;
}  
.btn-2 a:hover {
    color: #FABAA0;
    transition: 0.2s 0.1s;
}
  
.slide-down::before {
    top: 0; left: 0; right: 0; 
    height: 0%; width: 100%;
}
.slide-down:hover::before {
    height: 100%;
}*/

.donated-info {
    background-color: #708D92;
}
.donated-info_wrapper {
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}
.how-we-work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.how-we-work_header-text {
    color: #747474;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
}
.how-we-work_header-title {
    color: #343434;
    font-weight: 700;
    font-size: 45px;
    line-height: 34px;
    text-transform: capitalize;
}
.how-we-work_body {
    display: flex;
    justify-content: center;
}
.products-facets {
    display: flex;
    /*flex-wrap: wrap;*/
    justify-content: center;
}
.products {
    display: flex;
    justify-content: center;
}

.collections{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.collections-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


/* .button a { 
    color:#343434;
    font-size: 14px;
    line-height: 24px;
}*/
.foooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #708D92;
    color: #FFFFFF;
}
.table {
    display: grid;
    justify-content: center;
}
.logo {
    width: 59px;
    height: 46px;
}
.boon {
    font-size: 21px;
    line-height: 22px;
}
.something {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
}
.copyright {
    font-weight: 300;
    font-size: 11px;
    line-height: 23px;
    text-transform: uppercase;
}
.about {
    background-color: #F7F5F2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.item h2 {
    color:#343434;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.item ul {
    list-style: none;
}
.item a {
    color:#747474;
    font-size: 12px;
    line-height: 16px;
}